body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#map-holder {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(154, 164, 228);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 17px;
}
#map-rect {
  fill: rgb(154, 164, 228);   /* map background colour */
}
.country{
  fill: #d0d0d0;   /* country colour */
  stroke: #2A2C39; /* country border colour */
  stroke-width: 1; /* country border width */
}
.country-on{
  fill: #4B5358;   /* highlight colour for selected country */
}
.countryLabel{
  display: none;   /* hide all country labels by default */
}
.countryName{
  fill: #FFFAFF;   /* country label text colour */
}
.countryLabelBg{
  fill: rgb(1, 34, 46);   /* country label background colour */
}
